# Scratchpad
{{scratchpad}}

# Additional Context/Instructions
{{context}}

# Instructions
Transform the scratchpad into a concise and well-structured summary message.

- Break the content down into specific individual topics.
- Address the message to the user, making note of any information or instructions provided by the user.
- If the scratchpad doesn't have anything in it you can avoid sending a summary message by responding with just `[NO SUMMARY]`.

Respond only with the message. You can use markdown formatting to make it read better.